.card {
  box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.15);
  height: 80vh; }
  .card__img {
    width: 100%;
    height: 70%; }
    .card__img--pic {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card__info {
    padding: 0.5rem 0.7rem; }
    .card__info--heading {
      font-size: 1.5rem;
      margin: 0.5rem 0; }
    .card__info--text {
      font-size: 1.2rem;
      font-weight: 300;
      word-spacing: 0.3rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

section {
  margin-top: 2rem;
  min-height: 100vh; }

.container {
  margin: 0 1rem; }

.banner {
  padding: 1rem 4rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 8rem; }
  .banner__content {
    margin: auto;
    width: 50%; }
  .banner__heading {
    font-size: 2rem;
    word-spacing: 0.2rem; }
  .banner__tagline {
    margin: 2rem 0;
    font-weight: 300; }

body {
  font-family: "Ubuntu", sans-serif; }

.showcase {
  background-image: url("../images/showcase.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.collections {
  position: relative; }

.collections__items {
  display: flex;
  gap: 1rem; }
  .collections__items--card {
    min-width: 400px; }

.collections__btns {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  width: 95%; }

.favorites__headline {
  text-align: center;
  margin-top: 4rem;
  font-weight: 600;
  font-size: 3.5rem; }

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 6rem; }

.tabs > button {
  border: none;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
  cursor: pointer; }

.tabs__content--info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 0.5rem; }

.tab__card {
  flex: 1;
  min-height: 80vh;
  overflow: hidden;
  box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.15); }
  .tab__card--hero {
    height: 60vh;
    position: relative; }
    .tab__card--hero .card-img {
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .tab__card--hero-img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .tab__card--hero-btns {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .tab__card--hero-btns > button:hover {
        background-color: black;
        color: white; }
      .tab__card--hero-btns .card__btn-women {
        margin-top: 1rem; }
  .tab__card--info {
    margin: 0.6rem 1rem; }
    .tab__card--info .tab__Card-title {
      border-bottom: 1px solid gray;
      padding-bottom: 1rem; }
  .tab__card-details {
    display: flex;
    align-items: center; }
    .tab__card-details .tab__card-detail {
      font-weight: 300;
      margin-left: 0.3rem; }
  .tab__card .tab__card--heroOverlay {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)); }

.hero {
  display: flex;
  height: 90vh;
  width: 100vw;
  position: relative;
  overflow: hidden; }
  .hero__text {
    position: absolute;
    color: white;
    top: 50%;
    padding-left: 1rem; }
    .hero__text .hero__heading {
      font-size: 4rem; }
    .hero__text .hero__tagline {
      font-size: 1.4rem; }
    .hero__text .btn__group {
      margin-top: 1rem; }
      .hero__text .btn__group > .btn:hover {
        background-color: black;
        color: white; }
      .hero__text .btn__group .btn__women {
        margin-left: 1rem; }
  .hero__img-1 {
    flex: 3;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/camila-damasio-mWYhrOiAgmA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .hero__img-2 {
    flex: 2;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/fachry-zella-devandra-bNSdIkCBJOs-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .hero__img-3 {
    flex: 4;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/photo-1590646299178-1b26ab821e34.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.btn {
  width: 10rem;
  padding: 0.7rem 1.4rem;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500; }
  .btn__dark {
    background: black;
    color: white; }

.btn__dark {
  background-color: #212a2f;
  color: white;
  border: 2px solid black; }
  .btn__dark:hover {
    background-color: white;
    color: #212a2f; }

.btn__dark + .btn__women {
  margin-left: 1.3rem; }

.hidden {
  display: none; }
