.arrivals {
  position: relative;
  overflow: hidden;
}

.arrivals__headline {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.arrivals__items {
  display: flex;
  gap: 1rem;
  transition: transform 0.4s ease-in-out;
  &--card {
    min-width: 400px;
  }
}

.arrivals__btns {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 95%;
  // transform: translateY(-150%);
}
