.banner {
  padding: 1rem 4rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 8rem;
  &__content {
    margin: auto;
    width: 50%;
  }
  &__heading {
    font-size: 2rem;
    word-spacing: 0.2rem;
  }
  &__tagline {
    margin: 2rem 0;
    font-weight: 300;
  }
}
