body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

.showcase {
  // margin-top: 2rem;
  background-image: url("../images/showcase.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
