.collections {
  position: relative;
  overflow: hidden;
}
.collections__items {
  display: flex;
  gap: 1rem;
  transition: transform 0.4s ease-in-out;
  &--card {
    min-width: 400px;
  }
}

.collections__btns {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 95%;
  // transform: translateY(-150%);
}
