.collections {
  position: relative;
  overflow: hidden;
}

.collection__headline {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.collections__items {
  display: flex;
  gap: 1rem;
  transition: transform 0.4s ease-in-out;
  &--card {
    min-width: 400px;
  }
}

.collections__btns {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 95%;
  // transform: translateY(-150%);
}

.nav__icon {
  width: 100px;
}
.nav__icon--right {
  width: 20px;
}
