.navigation {
  min-height: 4rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
}
.navigation__container {
  min-height: 4rem;
}
.nav__wrapper {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__wrapper--left {
  flex: 1;
}
.nav__wrapper--centre {
  flex: 1;
}
.nav__wrapper--right {
  flex: 1;
  text-align: end;
}

.nav__categories {
  display: flex;
  width: 50%;
  justify-content: space-between;
  list-style: none;
}
.nav__categories--item {
  cursor: pointer;
}
.nav__categories--right {
  margin-left: auto;
}

.nav__icon {
  width: 100px;
}
.nav__icon--right {
  width: 20px;
}
