.btn {
  width: 10rem;
  padding: 0.7rem 1.4rem;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  &__dark {
    background: black;
    color: white;
  }
}
